.strength-meter {
  .bars {
    display: flex;
    visibility: hidden;
    position: relative;
    .bar {
      height: 4px;
      width: 56px;
      border-radius: 4px;
      margin: 4.2px;
    } 
    .s{
      background-color: #eee;
      height: 4px;
      width: 56px;
      border-radius: 4px;
      margin: 4.2px;
    }
    
    //Color of the strength bar when the password is weak
    .weak {
      background: #f28c8c;
    }

    .okey {
      background: #ffcb7d;
    }
    .good {
      background-color: #5cd1a5;
    }
    .strong {
      background-color: #5cd1a5;
    }
  }
  .show {
    visibility: visible;
  }
  .password-score {
    font-family: Helvetica;
    width: 252px;
    margin: 0 0 0 112px;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    color: #8a9096;
  }
}
